*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif; 
    

}
.header {
    max-width: 80%;
    max-height: 698px;
    margin: 0 auto;
    background-image: url('Assets/Hero-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.navbar {
    max-width: 1140px;
    height: 151px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding:0 25px ;   
}
.header_content {
    max-width: 905px;
    margin: 0 auto;
    padding: 50px 0;
    text-align: center;
}
.header_title{
    font-size: 65px;
    font-weight: bold;
    color: #252432;
    padding: 20px 10px;
    margin-bottom: 20px;
}
.btn_primary {
    width: 132px;
    height: 48px;
    padding: 10px 20px;
    background-color: #4E47FF;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px; 
    transition: 0.5s ease-in-out;
}
.btn_primary:hover{
    background-color: #1408f8;
    font-weight: bold;
}

.btn_secondary{
    width: 174px;
    height: 48px;
    padding: 10px 20px;
   background-color: #4E47FF;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    margin-bottom: 30px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.btn_secondary:hover{
    background-color: #1408f8;
    font-weight: bold;
}